body{
    background-color: gray;
}
main{
    display: flex;
    padding-left: 100px;
    padding-top: 200px;
}

img{
    width: 400px;
    height: 400px;
}

.container{
    border: 3px solid black;
    padding-left: 80px;
    padding-right: 80px;
    background-color:lightgray;
    box-shadow: 10px 10px 7px black;
}